<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
    <div class="create_form">
        <form action="">
            <div class="group_inp">
                <div class="vertical">
                    <label for="">Salary</label>
                    <input type="text">
                </div>

                <div class="vertical">
                    <label for="">Bonus</label>
                    <input type="text">
                </div>
            </div>

            <div class="vertical">
                <label for="">Deductions</label>
                <input type="text">
            </div>

            <div class="group_inp">
                <label for="month">Month</label>
                <select id="month">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>

                <label for="">Year</label>
                <input type="number">
            </div>

            <div class="group_inp">
                <label for="">Status</label>
                <input type="text">
            </div>
        </form>
    </div>
</body>
</html>