* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol, a {
  text-decoration: none;
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Product Sans", sans-serif;
}

aside {
  width: 292px;
  height: 100vh;
  background-color: hsl(226, 55%, 16%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
aside .log_out {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 50px;
  width: 90%;
  margin: 0 auto;
  background-color: red;
  color: white;
}
aside .log_out:hover {
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
}
aside .aside_top .logo5 {
  padding: 20px;
  display: flex;
  justify-content: center;
}
aside .aside_top img {
  width: 80%;
  padding-bottom: 30px;
}
aside .aside_top .avatar {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: orange;
  border-radius: 50%;
}
aside .aside_top .avatar #avatar_span {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
aside .aside_top .profile {
  display: flex;
  color: white;
  justify-content: center;
  gap: 2rem;
}
aside .aside_top .profile img {
  width: 20%;
  border-radius: 50%;
}
aside .aside_top .profile .credentials {
  display: flex;
  line-height: 25px;
  flex-direction: column;
  justify-content: center;
}
aside .aside_top .profile .credentials span {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}
aside ul {
  margin: 0 auto;
  width: 70%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
aside ul li {
  transition: 0.5s;
  cursor: pointer;
  width: 100%;
  padding: 15px 10px;
  border-radius: 50px;
  background-image: linear-gradient(to right, rgb(112, 116, 247), rgb(130, 130, 23));
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
aside ul li i {
  color: #ffffff;
  margin: 0 15px;
}
aside ul li:hover {
  transition: 0.5s;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.container {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  height: 100vh;
}
.container .login-section {
  flex: 1;
  padding: 40px;
  background-color: #fff;
  margin-top: 150px;
}
.container .login-section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: rgb(51, 51, 165);
}
.container .login-section p {
  margin-bottom: 20px;
  color: #666;
}
.container .login-section form {
  display: flex;
  flex-direction: column;
}
.container .login-section form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(51, 51, 165);
}
.container .login-section form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.container .login-section form .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.container .login-section form .password {
  color: rgb(51, 51, 165);
  text-decoration: none;
  font-size: 0.9rem;
}
.container .login-section form button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(51, 51, 165);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}
.container .login-section form button:hover {
  background-color: #0056b3;
  transition: opacity 0.3 ease transform 0.3 ease;
}
.container .signup {
  margin-top: 20px;
  font-size: 0.9rem;
}
.container a {
  color: #007bff;
  text-decoration: none;
}

.promo-section {
  flex: 1;
  background: linear-gradient(to right, rgba(0, 0, 128, 0.7), rgba(0, 0, 128, 0.5)), url("../../../11b981c5-b262-463d-bcda-c96876793d4b.jpg") no-repeat center center;
  opacity: 0.7;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.promo-section .promo-text {
  text-align: left;
  padding: 20px;
}
.promo-section h2 {
  font-size: 2rem;
  padding-right: 80px;
  margin-top: 200px;
}
.promo-section span {
  color: #ffcc00;
}

.main {
  background-image: url(https://pics.craiyon.com/2023-06-16/931faf32947d40c5840c920ca14273e8.webp);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .container {
  position: relative;
}
.main .container .logo {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 30px;
}
.main .container .logo img {
  width: 400px;
  height: 80px;
}
.main .container .title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
  font-variant: small-caps;
}
.main .container .title p {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 400;
}
.main .container .admin-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: start;
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}
.main .container .admin-form label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: white;
}
.main .container .admin-form input {
  padding-left: 10px;
  width: 100%;
  height: 35px;
}
.main .container .admin-form input:hover {
  transition: 0.3s;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.main .container .admin-form .checkbox {
  width: 100%;
  gap: 5px;
  align-items: center;
  display: flex;
}
.main .container .admin-form .checkbox .check {
  width: 20px;
}
.main .container .admin-form .checkbox .chc {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main .container .admin-form .checkbox a {
  color: white;
}
.main .container .admin-form .checkbox a:hover {
  color: rgb(0, 0, 0);
  transition: 0.3s;
}
.main .container .admin-form .sign-btn {
  margin-top: 1rem;
  width: 100%;
}
.main .container .admin-form .sign-btn button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 30px;
  background-color: #ffc20e;
  font-size: 16px;
  border: none;
  transition: 0.3s;
}
.main .container .admin-form .sign-btn button:hover {
  background-color: #f4c73f;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s;
}

@media only screen and (max-width: 767px) {
  .admin-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: start;
    margin-top: 3rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 0 10px;
  }
  .admin-form input {
    padding-left: 10px;
    width: 100% !important;
    height: 35px;
  }
  .admin-form .checkbox {
    width: 100%;
    gap: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .admin-form .chc {
    width: 100%;
    display: flex;
  }
}
.hero_container {
  display: flex;
  justify-content: space-between;
}
.hero_container .reqister_left {
  position: relative;
  height: 100vh;
  background-color: #253D90;
  background-size: cover;
  background-position: center;
  width: 40%;
}
.hero_container .reqister_left img {
  max-width: 80%;
}
.hero_container .reqister_left hr {
  height: 5px;
  width: 100px;
  border-radius: 50px;
  background-color: white;
}
.hero_container .reqister_left .text_box {
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero_container .reqister_left .text_box h2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.hero_container .reqister_left .text_box p {
  font-size: 20px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.4);
}
.hero_container .reqister_left .btn_div {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.hero_container .reqister_left .btn_div button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.hero_container .reqister_left .btn_div .learn_btn {
  background-color: #FFC20E;
  transition: all 500ms;
}
.hero_container .reqister_left .btn_div .learn_btn:hover {
  background-color: #ffcd38;
  color: white;
}
.hero_container .reqister_left .btn_div .features_btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 500ms;
}
.hero_container .reqister_left .btn_div .features_btn:hover {
  background-color: black;
  color: white;
}
.hero_container .reqister_left .btn_div p {
  font-size: 30px;
}
.hero_container .reqister_right {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.hero_container .reqister_right a {
  text-decoration: underline;
}
.hero_container .reqister_right .welcome_h {
  color: #253D90;
  font-size: 56px;
}
.hero_container .reqister_right .reqister_p {
  color: #969696;
  font-size: 30px;
  font-weight: 100;
  margin: 30px 0;
}
.hero_container .reqister_right input {
  width: 300px;
  height: 51px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.hero_container .reqister_right .check_inp {
  width: auto;
  height: auto;
  margin: 10px 0;
}
.hero_container .reqister_right .input_group {
  display: flex;
  gap: 10px;
}
.hero_container .reqister_right .input_group .vertical {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: #253D90;
}
.hero_container .reqister_right .create_acc_btn {
  height: 61px;
  width: 312px;
  background-color: #253D90;
  border-radius: 50px;
  color: white;
  margin: 20px 0;
}
.hero_container .reqister_right .create_acc_btn:hover {
  background-color: #567bff;
  color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1200px) {
  .hero_container {
    flex-direction: column;
  }
  .hero_container .reqister_left {
    width: 100%;
  }
  .hero_container .reqister_right {
    padding: 5rem 0;
    width: 100%;
  }
}
@media screen and (max-width: 645px) {
  .hero_container {
    flex-direction: column;
  }
  .hero_container .reqister_right {
    width: 100%;
  }
  .hero_container .reqister_right .welcome_h {
    font-size: 25px;
  }
  .hero_container .reqister_right .reqister_p {
    font-size: 25px;
  }
  .hero_container .reqister_right {
    padding: 5rem 0;
    width: 100%;
  }
  .hero_container .reqister_right .input_group {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .hero_container .reqister_left .text_box {
    width: 80%;
    gap: 10px;
  }
  .hero_container .reqister_left .text_box h2 {
    font-size: 25px;
  }
  .hero_container .reqister_left .btn_div {
    flex-direction: column;
  }
}
@media screen and (max-width: 380px) {
  .hero_container .reqister_right input {
    width: 100%;
  }
}
#create_body {
  background-color: black;
  padding: 30px;
}
#create_body input {
  background-color: rgb(55, 65, 81);
}
#create_body .flex {
  display: flex;
  align-items: center;
}
#create_body .my_label {
  color: white;
}
#create_body .vertical_cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}
#create_body #payroll_month, #create_body #payroll_year, #create_body #payroll_status {
  height: 50px;
}/*# sourceMappingURL=main.css.map */