<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reqister page</title>
    <link href="https://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/main.css">

</head>

<body>
    <main>
        <div class="hero_container">
            <div class="reqister_left">
                <a href=""><img src="~/assets/imgs/logo_f.png" alt=""></a>
                <div class="text_box">
                    <h2>HR Management Platform</h2>
                    <hr>
                    <p>Manage all employees, payrolls, and other human resource operations.</p>
                    <div class="btn_div">
                        <button class="learn_btn">Learn More</button>
                        <button class="features_btn">Our Features</button>
                    </div>
                </div>
            </div>
            <div class="reqister_right">
                <h2 class="welcome_h">Welcome to XCELTECH</h2>
                <p class="reqister_p">Register your account</p>
                <form action="">
                    <div class="input_group">
                        <div class="vertical">
                            <label for="first_name_inp">First Name</label>
                            <input type="text" id="first_name_inp">
                        </div>
                        <div class="vertical">
                            <label for="">Last Name</label>
                            <input type="text">
                        </div>

                    </div>
                    <div class="input_group">
                        <div class="vertical">
                            <label for="">E-mail Address</label>
                            <input type="text">
                        </div>
                        <div class="vertical">
                            <label for="">Phone Number</label>
                            <input type="text">
                        </div>
                    </div>

                    <div class="input_group">
                        <div class="vertical">
                            <label for="">Password</label>
                            <input type="text">
                        </div>
                        <div class="vertical">
                            <label for="">Confirm Password</label>
                            <input type="text">
                        </div>
                    </div>

                    <div class="vertical">
                        <input type="checkbox" class="check_inp">
                        <label for="">Yes, I want to receive KRIS newsletters</label>
                    </div>
                    <div class="vertical">
                        <input type="checkbox" class="check_inp">
                        <label for="">I agree to all the Terms, Privacy Policy</label>
                    </div>
                    <button class="create_acc_btn">Create Account</button>
                </form>

                <p>Already have an account? <a href="">Log In</a></p>
            </div>
        </div>
    </main>
</body>

</html>