
.container {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 100vh;


    .login-section {
        flex: 1;
        padding: 40px;
        background-color: #fff;
        margin-top: 150px;

        h1 {
            font-size: 2rem;
            margin-bottom: 10px;
            color: rgb(51, 51, 165);
        }

        p {
            margin-bottom: 20px;
            color: #666;
        }
    }




    .login-section form {
        display: flex;
        flex-direction: column;


        label {
            margin-bottom: 5px;
            font-weight: bold;
            color: rgb(51, 51, 165);
        }


        input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .password {
            color: rgb(51, 51, 165);
            text-decoration: none;
            font-size: 0.9rem;
        }

        button {
            padding: 10px 20px;
            border: none;
            background-color: rgb(51, 51, 165);

            color: #fff;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 4px;
        }

        button:hover {
            background-color: #0056b3;
           
            transition: opacity 0.3 ease transform 0.3 ease;
        }
    }

    .signup {
        margin-top: 20px;
        font-size: 0.9rem;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }
}

.promo-section {
    flex: 1;
    background: linear-gradient(to right, rgba(0, 0, 128, 0.7), rgba(0, 0, 128, 0.5)), 
    url('../../../11b981c5-b262-463d-bcda-c96876793d4b.jpg') no-repeat center center;
    
    opacity: 0.7;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    .promo-text {
        text-align: left;
        padding: 20px;
    }

    h2 {
        font-size: 2rem;
        padding-right: 80px;
        margin-top: 200px;

    }

    span {
        color: #ffcc00;
    }

}
@media only screen and (max-width: 600px) {
   
  }

.main {
  background-image: url(https://pics.craiyon.com/2023-06-16/931faf32947d40c5840c920ca14273e8.webp);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    position: relative;
    .logo {
      display: flex;
      text-align: left;
      align-items: center;
      padding: 30px;
      img {
        width: 400px;
        height: 80px;
      }
    }

    .title {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 18px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 8rem;
      font-variant: small-caps;
    }
    .title p {
      margin-top: 1rem;
      font-size: 16px;
      font-weight: 400;
    }
    .admin-form {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      align-items: start;
      margin-top: 3rem;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      max-width: 500px;
      width: 100%;
      label {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: white;
      }
      input {
        padding-left: 10px;
        width: 100%;
        height: 35px;
      }
      input:hover {
        transition: 0.3s;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
          rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
      .checkbox {
        width: 100%;
        gap: 5px;
        align-items: center;
        display: flex;
        .check {
          width: 20px;
        }
        .chc {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        a {
          color: white;
        }
        a:hover {
          color: rgb(0, 0, 0);
          transition: 0.3s;
        }
      }
      .sign-btn {
        margin-top: 1rem;
        width: 100%;
        button {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          width: 100%;
          height: 30px;
          background-color: #ffc20e;
          font-size: 16px;
          border: none;
          transition: 0.3s;
        }
        button:hover {
          background-color: #f4c73f;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
          transition: 0.3s;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .admin-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: start;
    margin-top: 3rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 0 10px;
    input {
      padding-left: 10px;
      width: 100% !important;
      height: 35px;
    }
    .checkbox {
      width: 100%;
      gap: 5px;
      align-items: center;
      display: flex;
      flex-direction: row;
    }
    .chc {
      width: 100%;
      display: flex;
    }
  }
}

